<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Votre cinémathèque{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <style>
            .container {
                margin-top: 25px;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url('films') }}">Cinémathèque</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ (app.request.get('_route') == "films" or app.request.get('_route') == "film_create") ? 'active' }}">
                <a class="nav-link" href="{{ url('films') }}">Vos films <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{ (app.request.get('_route') == "characters" or app.request.get('_route') == "character_create") ? 'active' }}">
                <a class="nav-link" href="{{ url('characters') }}">Liste des personnages</a>
            </li>
            </ul>
            <a href="{{ url('film_create') }}" class="btn btn-outline-success my-2 my-sm-0" style="margin-right:15px;" type="submit">Ajouter un film</a>
            <a href="{{ url('character_create') }}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Ajouter un personnage</a>
            </form>
        </div>
        </nav>
        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
